<!-- <h1>All Playlists:</h1>
<h3><% @playlists.each do |playlist| %></h3>
<h3><%= link_to playlist.name, playlist_path(playlist), class: "song-link" %></h3>



<%end%> -->

<div class="header-container text-center">.
<h1>Welcome to Mood Swing</h1>
<h3>Choose your Mood and Weather</h3>
</div>


<div class="flex-container text-center" >
<%= form_for @playlist, url: user_playlist_path do |f| %>
<%= f.label :mood %>
<%= f.collection_select :mood_id, @mood, :id, :emoji%>
<%= f.label :weather %>
<%= f.collection_select :weather_id, @weather, :id, :weather_type %>

<%= f.submit "Mood Swing" %>
<% end %>

<div>
<%= link_to 'Add New Videos', new_video_path %>
</div>
<div>
<%= link_to 'View My Videos', videos_path %>
</div>
</div>
