<div class="header-container text-center">
<h1>Welcome to Mood Swing</h1>

</div>


<div>
<%= form_for @playlist do |f| %>
<%= f.label :mood %>
<%= f.collection_select :mood_id, @moods, :id, :emoji%>
<%= f.label :weather %>
<%= f.collection_select :weather_id, @weathers, :id, :weather_type %>
<%= f.submit "Mood Swing" %>
<% end %>
</div>
</div>
